.spen-main-layout {
  max-width: 1200px;
  margin: 0 auto; }

.left-sidebar {
  width: 240px;
  padding: 5px 5px 0 5px;
  float: left; }
  .left-sidebar li a {
    display: block;
    color: #000;
    padding: 10px 15px 10px 25px;
    border-radius: 4px;
    font-size: 14px; }
    .left-sidebar li a:hover {
      background-color: #c3e5f4; }
    .left-sidebar li a span.notification-number {
      display: inline-block;
      width: 40px;
      height: 25px;
      border-radius: 13px;
      background-color: #e54545;
      text-align: center;
      color: #fff;
      float: right; }

@media (max-width: 1200px) {
  .left-sidebar {
    display: none; } }
.spen-page-content {
  border-left: 1px solid #d6d6d6;
  float: right;
  min-height: calc(100vh - 55px); }
  .spen-page-content .spen-main-content {
    padding: 0 45px; }

@media (max-width: 1200px) {
  .spen-page-content {
    float: none;
    border-left: none; } }
@media (max-width: 767px) {
  .spen-page-content .spen-main-content {
    padding: 0 25px; } }
@media (max-width: 480px) {
  .spen-page-content .spen-main-content {
    padding: 0 15px; } }
.post-item {
  border: 1px solid #d6d6d6;
  margin-top: 20px;
  background-color: #fff; }
  .post-item .post-content {
    padding: 15px; }
  .post-item .header-post {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
    display: -webkit-flex;
    display: flex; }
    .post-item .header-post .info-user {
      width: 50%;
      text-align: left;
      margin-left: 20px; }
      .post-item .header-post .info-user .avatar {
        float: left;
        margin-right: 30px; }
      .post-item .header-post .info-user .name a, .post-item .header-post .info-user .description a {
        font-size: 18px;
        color: #0088c7;
        font-weight: bold; }
        .post-item .header-post .info-user .name a span, .post-item .header-post .info-user .description a span {
          font-weight: normal;
          color: #000; }
      .post-item .header-post .info-user .name h2, .post-item .header-post .info-user .description h2 {
        margin-top: 5px; }
    .post-item .header-post .post-date {
      width: 50%;
      text-align: right; }
  .post-item .post-details {
    padding: 30px 15px 30px 20px;
    border-bottom: 1px solid #d6d6d6; }
  .post-item .post-footer {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 15px 0 20px; }
    .post-item .post-footer .post-footer-element {
      width: 25%;
      text-align: left; }
      .post-item .post-footer .post-footer-element a {
        font-weight: bold;
        color: #000; }
    .post-item .post-footer .post-group i {
      color: #999; }
    .post-item .post-footer .post-text {
      text-align: right; }
  .post-item .comment-form {
    background-color: #fafafa;
    padding: 10px 40px;
    border-top: 1px solid #d6d6d6; }
    .post-item .comment-form .avatar {
      float: left;
      max-width: 44px;
      max-height: 44px; }
      .post-item .comment-form .avatar img {
        width: 44px; }
    .post-item .comment-form .comment-input {
      float: left;
      margin-left: 10px;
      width: 90%; }

.post-reply {
  padding: 20px;
  margin-top: 30px;
  background-color: #fafafa;
  border: 1px solid #d6d6d6; }
  .post-reply h3 {
    font-weight: normal; }
    .post-reply h3 a {
      color: #0088c7; }

@media (max-width: 767px) {
  .post-item .post-footer .post-footer-element {
    width: 50%;
    text-align: left;
    margin-top: 10px; }
  .post-item .comment-form .comment-input {
    width: 78%; }
  .post-item .header-post {
    flex-wrap: wrap; }
    .post-item .header-post .post-date, .post-item .header-post .info-user {
      width: 100%; } }
@media (max-width: 480px) {
  .post-item .post-footer .post-footer-element {
    width: 100%;
    text-align: left; }
  .post-item .comment-form .comment-input {
    width: 70%; } }
li {
  list-style: none; }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

/*# sourceMappingURL=main.css.map */
