<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title>Classi</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <header class="spen-ly-global-header" id="global-header">
    <div class="spen-util-inner">
      <h1 class="page-title">Web Test</h1>
      <a class="header-content classi-logo">
        <img src="img/common/logo-classi.png">
      </a>
      <a class="header-content user-information">
        <img class="user-icon" src="img/user-icon.png">
        <span class="user-name">user name</span>
      </a>
      <div class="header-content dummy-content"></div>
      <a class="header-content">
        <i class="fa fa-question"></i>
        <span class="content-text">Help</span>
      </a>
      <div class="header-content" id="js-show-menu-list-trigger">
        <i class="fa fa-th"></i>
        <span class="content-text">Menu</span>
      </div>
    </div>
  </header>
  <!-- end header -->
  <main class="spen-main-layout clearfix">
    <div class="left-sidebar">
      <ul class="left-menu">
        <li><a href="#">コミュニティ</a></li>
        <li><a href="#">L　2017年度3年1組 <span class="notification-number">4</span></a></li>
        <li><a href="#">L　2017年度3年ALL</a></li>
        <li><a href="#">L　2016年度2年4組</a></li>
        <li><a href="#">L　部活_バスケット <span class="notification-number">12</span></a></li>
        <li><a href="#">通知・履歴</a></li>
        <li><a href="#">トピック配信</a></li>
        <li><a href="#">配信済のトピック一覧</a></li>
      </ul>
    </div>
    <!-- end sidebar  -->
    <div class="spen-page-content">
      <div class="prev-page">
        <a href="#"><i class="fa fa-angle-left"></i> 戻る</a>
      </div>
      <div class="spen-main-content">
        <div class="create-post">
          <h1>新規の投稿を作成する</h1>
          <h2>新規投稿の作成</h2>
          <form action="">
            <div class="form-horizontal">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-sm-3 col-xs-12">
                    <p>タイトル</p>
                  </div>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <input class="spen-mod-input-text" type="text" placeholder="目指すはGTEC600点">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-sm-3 col-xs-12">
                    <p>タイトル</p>
                  </div>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <label class="spen-mod-select"><select class="select"><option class="is-all-point" value="all">完解にする</option><option class="is-part-point" value="part">完解にしない</option></select><i class="fa fa-caret-down"></i></label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-sm-3 col-xs-12">
                    <p>タイトル</p>
                  </div>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <button class="spen-mod-btn is-default">Normal Button</button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-sm-3 col-xs-12">

                  </div>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <div class="row">
                      <div class="col-md-4 col-sm-6 col-xs-6 full-480">
                        <div class=" attach attach-image">
                          <a href="#"><img src="img/thumnail.png" alt="thumnail"></a>
                          <a class="file-name" href="#">classi_designdata_20170815.png</a>
                          <a class="action-file" href="#">
                            <i class="fa fa-trash-o"></i>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-4 col-md-4 col-sm-6 col-xs-6 full-480">
                        <div class=" attach attach-image">
                          <a href="#"><img src="img/thumnail.png" alt="thumnail"></a>
                          <a class="file-name" href="#">classi_designdata_20170815.png</a>
                          <a class="action-file" href="#">
                            <i class="fa fa-trash-o"></i>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-4 col-md-4 col-sm-6 col-xs-6 full-480">
                        <div class=" attach attach-file">
                          <div class="file-format"><i class="fa fa-file-pdf-o"></i></div>
                          <a class="file-name" href="#">classi_designdata_20170815.png</a>
                          <a class="action-file" href="#">
                            <i class="fa fa-trash-o"></i>
                          </a>
                        </div>
                      </div>
                      <div class="col-md-4 col-md-4 col-sm-6 col-xs-6 full-480">
                        <div class=" attach attach-file">
                          <div class="file-format"><i class="fa fa-file-excel-o"></i></div>
                          <a class="file-name" href="#">classi_designdata_20170815.png</a>
                          <a class="action-file" href="#">
                            <i class="fa fa-trash-o"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-sm-3 col-xs-12">
                    <p>タイトル</p>
                  </div>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <label class="spen-mod-select"><select class="select"><option class="is-all-point" value="all">完解にする</option><option class="is-part-point" value="part">完解にしない</option></select><i class="fa fa-caret-down"></i></label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-sm-3 col-xs-12">
                    <p>テンプレート</p>
                    <p>テンプレート</p>
                  </div>
                  <div class="col-md-10 col-sm-9 col-xs-12">
                    <textarea rows="4" cols="50"></textarea>
                  </div>
                </div>
              </div>
              <div class="form-group three-col">
                <div class="row">
                  <div class="col-md-2 col-sm-4 col-xs-12">
                    <p>タイトル</p>
                  </div>
                  <div class="col-md-6 col-sm-4 col-xs-12">
                    <input class="spen-mod-input-text" type="text" placeholder="目指すはGTEC600点">
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <button class="spen-mod-btn is-default">Normal Button</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="submit">
              <button class="spen-mod-btn is-default">キャンセル</button>
              <button class="spen-mod-btn is-primary">公開する</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
