.create-post-button {
  padding: 25px 55px;
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 4px;

  .spen-mod-btn {
    display: block;
    width: 100%;
    font-weight: normal;
  }
}

.reset-post-button {
  padding: 15px;
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-top: 30px;

  .row {
    margin-left: -5px;

    .col-md-2,
    .col-md-3 {
      padding: 0 5px;
    }
  }

  .section-contents {
    margin-top: 15px;

    .spen-mod-input-text {
      padding-right: 0;
    }

    .spen-mod-input-text::-webkit-input-placeholder {
      color: #333;
    }

    .spen-mod-input-text:-ms-input-placeholder {
      color: #333;
    }

    .spen-mod-input-text::-moz-placeholder {
      color: #333;
    }

    .spen-mod-input-text:-moz-placeholder {
      color: #333;
    }
  }
}

.heading-title {
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 40px;
}

.post-item {
  border: 1px solid #d6d6d6;
  background-color: #fff;
  margin-top: 16px;
  position: relative;

  .post-content {
    padding: 16px 16px 0;
  }

  .count-label {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #e54545;
    color: #FFF;
    text-align: center;
    font-size: 16px;
  }

  .header-post {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
    display: -webkit-flex;
    display: flex;

    .info-user {
      width: 50%;
      text-align: left;

      .avatar {
        float: left;
        margin-right: 16px;
        max-height: 54px;
      }

      .description,
      .name {
        a {
          font-size: 18px;
          color: #0088c7;
          font-weight: bold;

          span {
            font-weight: normal;
            color: #000;
          }
        }

        h2 {
          margin-top: 5px;
        }
      }
    }

    .post-date {
      width: 50%;
      text-align: right;
    }
  }

  .post-details {
    padding: 24px 0;
    border-bottom: 1px solid #d6d6d6;

    a {
      color: #0088c7;
    }

    i {
      font-size: 14px;
      color: #999999;
    }
  }

  .post-footer {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px 0;

    .post-footer-element {
      width: 25%;
      text-align: left;

      a {
        font-weight: bold;
        color: #505050;
      }
    }

    .post-group {
      i {
        color: #999;
      }
    }

    .post-text {
      text-align: right;
    }
  }

  .post-comment {
    background-color: #fafafa;
    border-top: 1px solid #d6d6d6;
    padding: 12px 16px 8px 16px;;
    h3 {
      font-size: 18px;
      color: #666;
      padding-bottom: 15px;
      border-bottom : 1px solid #ddd;
    }
    .comment-form {
      padding: 10px 0 0 0;

      .avatar {
        float: left;
        max-width: 44px;
        max-height: 44px;

        img {
          width: 44px;
        }
      }
      .spen-mod-btn {
        padding: 8px 10px;
        width: 100%;
      }
      .comment-input {
        width: 100%;
        height: 44px;
      }

      .comment-text {
        float: left;
        margin-left: 16px;
        width: 80%;

        a {
          color: #0088c7;
        }
        .comment-author {
          font-weight: bold;
        }
        span {
          margin-left: 40px;
        }
      }
      .spen-mod-input-text {
         resize: none;
         padding-top: 10px;
         padding-bottom: 10px;
         overflow: hidden;
      }
    }
  }
  .no-padding-vertical {
    padding-left: 0;
    padding-right: 0;
    .comment-form , h3{
      padding-left: 15px;
    }
  }
  .item-file {
    position: relative;
    .attach {
      .action-file {

        i {
          color: #0088c7;
          font-size: 30px;
        }
      }
      .file-name {
        color: #fff;
        font-size: 16px;

      }
    }
    .toaster {
      position: absolute;
      left: 10px;
      right: -30px;
      top: -25px;
      z-index: 99;
      background-color: rgba(116,200,116,0.9);
      padding-top: 35px;
      padding-bottom: 35px;
      color:#fff;
      text-align: center;
      border-radius: 10px;
      i {
        font-size: 40px;
        color: $while;
      }
      span {
        font-size: 20px;
        display: inline-block;
        margin-left: 20px;
        margin-top: -10px;
        font-weight: bold;
        vertical-align: 7px;
      }
    }
  }



}

.item-with-count {
  .post-footer {
    .post-footer-element {
      a {
        font-weight: bold;
        color: #0088c7;
      }
    }
  }
}

.post-reply {
  padding: 16px;
  margin-top: 30px;
  background-color: #fafafa;
  border: 1px solid #d6d6d6;

  h3 {
    font-weight: normal;

    a {
      color: #0088c7;
    }
  }
}
.btn-width-tooltip {
  margin-bottom: 10px;
  a.tooltips {
    position: relative;
    display: inline;
    color: #0088c7;
    span {
      position: absolute;
      width:128px;
      color: #FFFFFF;
      background: #676767;
      height: 40px;
      line-height: 30px;
      text-align: center;
      visibility: hidden;
      border-radius: 6px;
      padding-top: 5px;

      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -8px;
        width: 0; height: 0;
        border-top: 8px solid #676767;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
      }
    }

    &:hover {
      span {
        visibility: visible;
        bottom: 35px;
        left: 80%;
        margin-left: -76px;
        z-index: 999;
      }
    }
  }
}
.work-detail {
  padding-top: 0;
  .post-item {
    margin-top: 20px;
    .post-like {
      i {
        font-size: 20px;
      }
      .count-like {
        color: #0088c7;
        i {
          display: inline-block;
          font-size: 14px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #0088c7;
          color:#fff;
          text-align: center;
          padding-top: 2px;
          margin-right: 5px;
        }
      }
    }
    .post-group {
      border-right: 1px solid #dddddd;
    }
    .comment-with-border {
      padding-left: 5px;
      border-bottom:  1px solid #dddddd;
      padding-bottom: 15px;
      a {
        color: #666666;

      }
      i {
        margin-right: 5px;
      }
    }
  }
  .post-comment {
    padding-top: 10px;
  }
  .header-post {
    .info-user {
      .avatar {
        margin-right: 15px;
      }
    }
  }
}
.show-dialog {
  padding: 25px 15px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  margin: 25px 0;
  background-color: #fafafa;
  p {
    font-size: 18px;
    margin-top: 10px;
  }
}
.name {
  font-size: 16px;
}
.post-item {
  .work-comment {

    .left-comment {
      padding-left: 30px;
      padding-top: 15px;
      border-right: 1px solid #d6d6d6;
    }
    .right-comment {
      padding-top: 15px;
      padding-bottom: 30px;
      padding-right: 30px;
      .item-list-work {
        margin-top: 30px;
      }
    }
    .comment-link {
      color: #0088c7;
      span {
        border-bottom: 1px solid #0088c7;
      }
    }
    .item-comment {
      border-bottom: 1px solid #d6d6d6;
      .left-comment {
        .date {
          color: #999;
        }
      }
      .right-comment {
        padding-bottom: 15px;
      }
    }

    .comment-form {
      padding-right: 15px;
      padding-bottom: 0;

    }
  }
}

.spen-mod-table > .table thead .cell-inner.table-head-left {
  text-align: left;
  padding-left: 20px;
}
.last-th {
  padding-right: 35%;
}
.row-count {
  margin-top: 40px;
  margin-bottom: 10px;
}
.spen-ly-static .modal-dialog .inner {
  margin-top: 30px;
}
.listing-files {
  margin-left: 7px;
  margin-right: 7px;
}
@media(max-width: 992px) {
  .post-comment {
    .comment-form {
      .spen-mod-btn {
        margin-top: 10px;
        margin-left: 10px;
      }
    }
  }
  .reset-post-button {
    .spen-mod-btn.is-default {
      margin-top: 15px;
    }
  }
  .post-item {
    .work-comment {
      .left-comment {
        border-right: none;
      }
      .right-comment {
        padding-left: 30px;

      }
    }

  }
  .post-item .post-comment .comment-form .spen-mod-btn {
    width: auto;
  }
}
@media(max-width: 767px) {
  .heading-title {
    margin-top: 30px;
  }
  .post-item {
    .post-footer {
      .post-footer-element {
        width: 50%;
        text-align: left;
        margin-top: 10px;
      }

    }

    .header-post {
      flex-wrap: wrap;

      .info-user,
      .post-date {
        width: 100%;
      }
    }
  }

  .reset-post-button {
    .row {
      margin:0;
    }
    label {
      margin-top: 15px;
    }

    button {
      margin-top: 15px;
    }
  }
  .work-detail {
    .post-item {
      .post-group {
        border-right: none;
      }
    }
  }
  .create-post-button {
    margin-top: 20px;
  }
  .post-item {
    .item-file {
      .toaster {
        left: 15px;
        right: 15px;
        top: 30px;
      }
    }
  }
  .last-th {
    padding-right: 0;
  }
 .dialog-button {
   margin-top: 10px;
 }
}
@media(max-width: 570px) {
  .section-contents {
    span {
      display: none;
    }
  }
}
@media(max-width: 480px) {
  .post-item {
    .post-footer {
      padding-left: 0;
      padding-right: 0;
      .post-footer-element {
        width: 100%;
        text-align: left;
      }
    }

    .post-comment {
      background-color: #fafafa;
      border-top: 1px solid #d6d6d6;

      .comment-form {
        .comment-text {
          width: 68%;
          span {
            display: block;
            margin-left: 0;
          }
        }
      }
    }
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .comment-form {
    .col-xs-2 {
      max-width: 10.667%;
    }
    .col-xs-10 {
      flex-basis: 89.333%;
      max-width: 89.333%;
    }
  }
}
