.create-post-button {
  padding: 25px 55px;
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 4px;
  .spen-mod-btn {
    display: block;
    width: 100%;
    font-weight: normal;
  }
}
.reset-post-button {
  padding: 15px;
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-top: 30px;
  .row {
    margin-left: -5px;
    .col-md-2, .col-md-3 {
      padding: 0 5px;
    }
  }
  .section-contents {
    margin-top: 15px;
    .spen-mod-input-text {
      padding-right: 0px;
    }
    .spen-mod-input-text::-webkit-input-placeholder {
      color: #333;
    }
    .spen-mod-input-text:-ms-input-placeholder {
      color: #333;
    }
    .spen-mod-input-text::-moz-placeholder {
      color: #333;
    }
    .spen-mod-input-text:-moz-placeholder {
      color: #333;
    }
  }
}
.heading-title {
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 40px;
}
.post-item {
  border: 1px solid #d6d6d6;
  background-color: #fff;
  margin-top: 30px;
  position: relative;
  .post-content {
    padding: 15px 15px 0 15px;
  }
  .count-label {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #e54545;
    color: #FFF;
    text-align: center;
    font-size: 16px;
  }
  .header-post {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
    display: -webkit-flex;
    display: flex;
    .info-user {
      width: 50%;
      text-align: left;
      margin-left: 20px;
      .avatar {
        float: left;
        margin-right: 30px;
      }
    .name, .description {
      a {
        font-size: 18px;
        color: #0088c7;
        font-weight: bold;
        span {
          font-weight: normal;
          color: #000;
        }
      }
      h2 {
        margin-top: 5px;
      }
    }
  }
  .post-date {
    width: 50%;
    text-align: right;
  }
}
.post-details {
  padding: 30px 15px 30px 20px;
  border-bottom: 1px solid #d6d6d6;
  a {
    color: #0088c7;
  }
   i {
      font-size: 14px;
      color: #999999;
    }
}
.post-footer {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 15px 0 20px;
  .post-footer-element {
    width: 25%;
    text-align: left;
    a {
      font-weight: bold;
      color: #505050;
    }
  }
  .post-group {
    i {
      color: #999;
    }
  }
  .post-text {
    text-align: right;
  }

}
.post-comment {
  background-color: #fafafa;
  
  border-top: 1px solid #d6d6d6;
  .comment-form {
    padding: 10px 40px;
    .avatar {
      float: left;
      max-width: 44px;
      max-height: 44px;
      img {
        width: 44px;
      }
    }
    .comment-input {
      float: left;
      margin-left: 10px;
      width: 90%;
    }
    .comment-text {
      float: left;
      margin-left: 25px;
      width: 80%;
      a {
        color: #0088c7;
      }
    }
  }
}

}
.item-with-count {
  .post-footer {
    .post-footer-element {
     
      a {
        font-weight: bold;
        color: #0088c7;
      }
    }
  }
}
.post-reply {
  padding: 20px;
  margin-top: 30px;
  background-color: #fafafa;
  border: 1px solid #d6d6d6;
  h3 {
    font-weight: normal;
    a {
      color: #0088c7;
    }
  }
}


@media(max-width: 767px) {
  .post-item {
    .post-footer {
      .post-footer-element {
        width: 50%;
        text-align: left;
        margin-top: 10px;
      }
    }
    .post-comment { 
      .comment-form {
        .comment-input {
          width: 78%;
        }
      }
    }
    
    .header-post{
      flex-wrap: wrap;
      .post-date, .info-user{
        width: 100%;
      }
    }
    
  }
  .reset-post-button {
    label {
      margin-top: 15px;
    }
    button {
      margin-top: 15px;
    }
  }
}
@media(max-width: 570px) {
  .section-contents {
      span {
        display: none;
      }
    }
}
@media(max-width: 480px) {
  .post-item {
    .post-footer {
      .post-footer-element {
        width: 100%;
        text-align: left;
      }
    }
    .post-comment {
      background-color: #fafafa;      
      border-top: 1px solid #d6d6d6;
      .comment-form {        
        .comment-text {
          width: 68%;  
        }
        .comment-input {
          width: 70%;
        }
      }
    }
    
  } 
}
