.heading-bold {
  font-weight: bold;
  margin-top: 10px;
}
.table-user {
  margin-top: 30px;
  .review-count {
    color: #999;
    margin-bottom: 10px;
  }
  tr {
    td.text-center {
      text-align: center;
    }
  }
}