body {
  font-family: "ヒラギノ角ゴ Pro W3",Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,"ＭＳ Ｐゴシック",MS PGothic,sans-serif;
  overflow-x : hidden;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
