.left-sidebar {
  width: 240px;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 55px);  //height of full screen - height of header
  @include transition(transform .3s ease);
  li {
    a {
      display: block;
      color: #000;
      padding: 10px 15px 10px 25px;
      border-radius: 4px;
      font-size: 14px;
      &:hover{
        background-color: #c3e5f4;
      }
      span.notification-number {
        display: inline-block;
        width: 40px;
        height: 25px;
        border-radius: 13px;
        background-color: #e54545;
        text-align: center;
        color: #fff;
        float: right;
      }
      &.active{
        background-color: #c3e5f4;
      }
    }
  }
}
@media(max-width: 1200px) {
  .left-sidebar {
    @include transform(translateX(-240px));
  }
}
